* {
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(61, 61, 61);
}

#mainNavBar .nav-link{
    color: white ;
    display: inline-block;
    position: relative;
}

.navbar {
    transition: background 500ms linear; 
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; 
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#headingGroup > h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

.red-text {
    color: red ;
}

p {
    color: white;
}

#mainNavBar .navbar-brand {
    color: rgb(211, 0, 0);
    font-size: 1.5em;
    padding-right: 0.5em;
}

#mainNavBar .navbar-toggler {
    background-color: rgb(68, 68, 68);
}

#image1 {
    background-image: url(imgs/img1.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
}

#image2 {
    background-image: url(imgs/img2.jpg);
    height: 90vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#image3 {
    background-image: url(imgs/img3.jpg);
    height: 80vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#aboutCol {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 7%;
}

#aboutUsHeading {
    font-size: 2em;
    font-weight: 200;
}

#theGalleryCol {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 7%;
}

#submitBtn {
    width: 25%;
}

.navbar.scrolled {
    background:  rgba(77, 32, 32, 0.85);
    transition: background 500ms linear; 
}

@media (max-width: 992px) {
    #headingGroup > h2 {
        font-size: 2em;
        font-weight: 300;
    }

    #image1 {
        background-size: contain;
    }

    #image2 {
        background-size: contain;
    }
}